.svg-icon {
  width: 32px;
  height: 32px;
  transition: all 0.3s ease;
  image-rendering: crisp-edges;
  shape-rendering: geometricPrecision;
  fill: var(--secondary-color, #2c3e50); // Color inicial
}

:host {
  display: block;
}

.tech-stack {
  margin-top: 2rem;
  margin-bottom: 6rem;
  .tech-label {
    display: block;
    font-weight: 600;
    color: var(--secondary-color, #2c3e50);
    margin-bottom: 1rem;
    font-size: 1.1rem;
  }

  .tech-icons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 1.5rem;
    align-items: center;
  }

  .tech-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease, color 0.3s ease;
    cursor: pointer;

    i {
      font-size: 3rem;
      transition: color 0.3s ease;
    }

    span {
      margin-top: 0.5rem;
      font-size: 0.9rem;
      color: #6c757d;
      transition: color 0.3s ease;
    }

    &:hover {
      transform: scale(1.1);
      i {
        color: #3498db; // Cambia el color del icono al pasar el ratón
      }
      span {
        color: #3498db; // Cambia el color del texto al pasar el ratón
      }
    }
  }
}

@media (max-width: 768px) {
  .tech-stack {
    .tech-icons {
      grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
      gap: 1rem;
    }

    .tech-icon {
      i {
        font-size: 1.5rem;
      }

      span {
        font-size: 0.75rem;
      }
    }
  }
}

.tech-icon:hover .svg-icon {
  fill: var(--primary-color, #3498db); // Cambia el color al pasar el ratón
}
